
/* Estilo da nossa box de informação */
 div.info {
  background :#f2f2f2;
  border-radius : 5px;
  padding : 0.5em;
  margin : 0.5em;
  text-align: left;
  font-family:verdana;
}

.navbar {
  color: black;
  
  
}